<!DOCTYPE html>
<html lang="zh-Hans">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <title>{cms:config name="cms.title"/} - {cms:config name="cms.sitename"/}</title>
    <meta name="keywords" content="{cms:config name='cms.keywords'/}"/>
    <meta name="description" content="{cms:config name='cms.description'/}"/>
    <link rel="stylesheet" href="/static/css/layui.css">
    <!--<link rel="stylesheet" href="/static/css/layui.css">-->
    <!--<link rel="stylesheet" href="/static/css/common.min.css">-->
    <link rel="stylesheet" href="/static/css/okaynav.temp.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <!--hreflang-->
    <link rel="alternate" hreflang="zh-Hans" href="https://www.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="zh-Hant" href="https://tw.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="en" href="https://mytempsms.com/receive-sms-online/thailand-phone-number-647713590.html" />
    <link rel="alternate" hreflang="ru" href="https://ru.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="ja" href="https://ja.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="ko" href="https://ko.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="es" href="https://es.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="fr" href="https://fr.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="de" href="https://de.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="ar" href="https://ar.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <link rel="alternate" hreflang="vi" href="https://vi.yinsiduanxin.com/thailand-phone-number/verification-code-647713590.html" />
    <!--hreflang-->
    <script src="/static/js/layui.js"></script>
    <!--<script src="/static/js/layui.js"></script>-->
    <script src="/static/js/jquery-3.4.1.min.js"></script>
    <script>
        layui.use(['layer', 'element'], function () {
            var layer = layui.layer
        })
    </script>
    <script data-ad-client="ca-pub-5224126064747013" async src="/static/js/adsbygoogle.js"></script>

        
    <!--Global site tag (gtag.js) - Google Analytics11 -->
    <script async src="/static/js/bb2c49671b8143fd808ce79908785a37.js"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-148166685-3');
    </script>
            
    </head>
    <body>
    <div class="container">
        <div class="top-bar-box"></div>
            <div class="layui-container">
                <div id="header" class="okayNav-header header" style="max-height: 70px;">
                    <a class="okayNav-header__logo" href="/">
                        <img src="/static/picture/logo.png" class="logo">
                    </a>
                    <nav role="navigation" id="nav-main" class="okayNav">
                        <ul>
                         
                              {cms:channellist id="nav" type="top" condition="1=isnav"}
                
                     <li class="layui-nav-item"><a href="{$nav.url}" id="china" title="{$nav.name}"  {if $nav->is_active} class="link-hr"{/if}>{$nav.name}</a></li>
                    {/cms:channellist}
                    <!--如果需要无限级请使用cms:nav标签-->
                    {//cms:nav maxlevel="3" cache="86400" /}

                        </ul>
                    </nav>
                </div>
            </div>
        <div class="nav-null"></div>
        <div class="layui-container">
            
            <div class="index-warn" style="display:none;">
                <blockquote class="site-text layui-elem-quote">
                    <div class="layui-row">
                        <div class="layui-col-md10 quote-left">
                            <span><i class="layui-icon">&#xe645; </i> </span>
                        </div>
                        <div class="layui-col-md2 quote-right">
                            <span><a href="/">查看详情</a></span>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div>

            </div>
<div class="info-top">
    <div class="info-top-h1"><h1> {cms:channel name="name" /}号码接收短信验证码注意事项</h1></div>
    <div class="info-top-h4" style="color: red"><h4><STRONG>隐私短信接码平台提供的所有号码均为临时电话号码，所有人都能查看到短信验证码内容，随时会失效导致获取不到短信验证码，请勿用来注册本人重要的信息!!请勿用于非法用途!!平台不支持政F、支付、贷款、购物类等非正常验证码接收，请勿将本号码用于非法用途，如出现违法行为，平台有权协助有关部门提供相关信息以供调查！</STRONG></h4></div>
</div>
<!-- message_banner_top -->
<div id="mys-wrapper" class="mys-wrapper"><div id="mys-content" style="width:1140px;height:280px;background: #ccc"><img src="/static/ad1.png" style="width:1140px;height:280px;">
</div></div>
<div class="main-title">

    <h1 class="copy" data-clipboard-text="647713590" style="color: #0C0C0C;font-weight:500">
        <img style="width: 40px;height: 40px;margin-top: -5px" src="/static/picture/66.png" 
            alt=" {cms:channel name="name" /}号码">+{cms:archives name="quhao" /} {cms:archives name="title" /}    </h1>
    <button id="647713590" class="layui-btn" style="background-color: #617C9E" onclick="load(this.id)"><i class="layui-icon">&#xe669;</i> 获取本页最新短信</button>
    <button class="layui-btn clickA" style="background-color: #849FC2" onclick="random()"><i class="layui-icon">&#xe674;</i> 随机获取一个号码</button>
    <div style="font-size:10px; margin: 5px 0;"></div>
    <button type="button" class="layui-btn layui-btn-xs" style="background-color: #C6C7C8" onclick="report(this.id)" id="647713590"><i class="layui-icon">&#xe69c;</i> 报告，无法获取短信</button>
</div>
<div class="main">
    <div class="breadcrumb text-center">
        <span class="layui-breadcrumb">
                                <a href="/">隐私短信</a>
                                                <a href="/thailand-phone-number.html"> {cms:channel name="name" /}号码</a>
                                                <a><cite> {cms:archives name="title" /}</cite></a>
                                    </span>
    </div>
    <div class="layui-row">
        <table class="layui-table" lay-even="" lay-skin="row" lay-size="lg" style="margin-top: 0;">
            <colgroup>
                <col>
                <col>
                <col>
                <col>
            </colgroup>
            <thead>
            <tr>
                <th style="background-color: #4A5E77;color: #ffffff;text-align:center">接收号码</th>
                <th style="background-color: #4A5E77;color: #ffffff;text-align:center">短信内容</th>
                <th style="background-color: #4A5E77;color: #ffffff;text-align:center">接收时间</th>
            </tr>
            </thead>
            <tbody>
 {if $__ARCHIVES__.iscomment}
                    {include file="common/comment" type="archives" aid="__ARCHIVES__.id"}
                    {else/}

        <div class="text-muted text-center">信息已关闭</div>
                    {/if}




                    
              
                                    </tbody>
        </table>
        <div style="text-align: center">
            <!-- message_banner_bottom -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-5224126064747013"
     data-ad-slot="2212002661"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
        </div>
    </div>
</div>
</div>

<div class="page" style="text-align: center">
    </div>
<script src="/static/js/layer.js"></script>
<script>
    $(document).ready(function(){
        /*var online = 1;
        if (online == 0){
            layer.msg('该号码已经离线，请尝试使用其他号码')
        }*/
    })
/*    function report(phone_num) {
        layer.prompt({
            formType: 2,
            value: '',
            title: '告诉站长您的验证码需求',
            offset: (document.documentElement.clientHeight/2)-157,
        }, function(value, index, elem){
            $.ajax({
                url: '/api/feedback',
                type: 'post',
                data: {content: value, email: $("#email").val(), type: 2},
                beforeSend: function(){
                    var index = layer.load(2);
                },
                success: function (e) {
                    if (e.error_code == 0) {
                        layer.msg(e.msg , {icon: 1})
                        layer.close(index);
                    } else {
                        layer.msg(e.msg, {icon: 2})
                    }
                },
                complete: function () {
                    $.ajax({
                        url: '/report.html',
                        type: 'post',
                        data: {phone_num: phone_num},
                        success: function (e) {
/*                            if (e.error_code != 0) {
                                layer.msg(e.msg, {icon: 2, anim: 6})
                            } else {
                                layer.msg(e.msg, {icon: 1, anim: 6})
                            }
                        },
                        complete: function () {
                            layer.closeAll('loading');
                        }
                    })
                }
            })
        })
        $(".layui-layer-input").attr("placeholder", "您需要哪个项目的验证码？")
        $(".layui-layer-content").append('<div style="margin-top: 10px;"><input type="text" id="email" name="email" lay-verify="email" placeholder="联系方式Email" class="layui-input"></div>')
        $(".layui-layer-btn0").css({"border-color":"#4A5E77", "background-color":"#4A5E77", "color":"#FFF"})
    }*/
    function report(phone_num) {
        layer.confirm('确定多次无法获取最新短信', {
            btn: ['真的获取不到','重新获取']
        }, function(){
            $.ajax({
                url: '/report.html',
                type: 'post',
                data: {phone_num: phone_num},
                success: function (e) {
                    if (e.error_code != 0) {
                        layer.msg(e.msg, {icon: 2, anim: 6})
                    } else {
                        layer.alert(e.msg, {icon: 1, anim: 6})
                    }
                }
            })
        }, function(){
            location.reload();
        });
    }
    function random() {
        $.ajax({
            url: '/random.html',
            type: 'post',
            success: function (e) {
                if (e.error_code != 0) {
                    layer.msg(e.msg, {icon: 2, anim: 6})
                } else {
                    layer.msg('随机号码加载中...', {
                        time: 0,
                        icon: 16,
                        shade: 0.05
                    })
                    window.location.href = e.data;
                }
            }
        })
    }
    function load(e) {
        layer.msg('数据较多，努力加载中...', {
            time: 0,
            icon: 16,
            shade: 0.05
        })
        let urls = window.location.pathname.split('/')
        if (urls.length == 3){
            location.reload(true)
        }else {
            window.location.href = '/'+urls[1]+'/' + urls[2] +'/' + urls[3]
        }
    }
</script>
    <div id="foot-null" class="foot-null"></div>
    <div id="foot" class="foot">
        <p class="">Copyright © 2020 <a class="foot-link" href="https://www.yinsiduanxin.com">隐私短信</a> <a class="foot-link" href="https://www.yinsiduanxin.com">短信验证码接收</a><a class="foot-link" href="https://www.yinsiduanxin.com"> 在线接码平台</a> <a class="foot-link" href="https://mytempsms.com"> Receive SMS Online</a> <a class="foot-link" href="https://www.yinsiduanxin.com/yinsiduanxin.com_sitemap.xml" target="_blank"> Sitemap</a>
        </p>
    </div>
    <div class="main-right">
        <!-- 右侧垂直大幅广告 -- 在线 -->
        <ins class="adsbygoogle main-right-adsense"
             style="display:block;min-width:120px;max-width:300px;"
             data-ad-client="ca-pub-5224126064747013"
             data-ad-slot="5921958055"
             data-ad-format="auto"
             data-full-width-responsive="true"></ins>
        <script>
        $(document).ready(function(){
            (adsbygoogle = window.adsbygoogle || []).push({});
        })
        </script>
    </div>
</div>

    </body>
<script src="/static/js/clipboard.js"></script>
<script src="/static/js/jquery.okaynav-min.js.js"></script>
<!--<script src="/static/js/api.js"></script>-->
<script type="text/javascript">
    var navigation = $('#nav-main').okayNav({
        swipe_enabled: false,
    });
</script>
<!--<script>
    layui.use(['layer', 'element'], function () {
        var layer = layui.layer
    })
</script>-->

    <script>
        //nav link当前
        let get_region = window.location.pathname
        if(get_region !== '/'){
            let regExp = /[a-zA-Z]+/
            link_title = regExp.exec(get_region)
            link_title = link_title[0]
            $('#' + link_title).addClass('link-hr')
        }
    //点击复制
    $('.copy').click(function (e) {
        var clipboard = new Clipboard('.copy')
        clipboard.on('success', function (e) {
            layer.msg('复制' + e.text + '成功', {icon: 1})
        })
        clipboard.on('error', function (e) {
            layer.msg('复制' + e.text + '失败', {icon: 2})
        })
    })

    $('.clickA').click(function (e) {
        if(window.matchMedia("(min-width: 767px)").matches){
            layer.msg('数据较多，努力加载中...', {
                time: 0,
                icon: 16,
                shade: 0.05
                })
        }
    })
    //活动每日弹出一次
/*    var today = new Date();
    if (localStorage.getItem('alert') != today.getDate()){
        layer.confirm("平台域名<br />【<span style='color: red;font-weight:bold;'>隐私短信</span>】www.<span style='color: red;font-weight:bold;'>Yin</span><span style='color: blue;font-weight:bold;'>Si</span><span style='color: brown;font-weight:bold;'>Duan</span><span style='color:cadetblue;font-weight:bold;'>Xin</span>.com <br />请大家按住Ctrl+D键收藏或者跟我一起默念！\\(^o^)/", {
            btn: ['我记住了','就是不记'] //按钮
        })
        localStorage.setItem('alert', today.getDate())
    }*/
  
    //右侧广告自适应宽度
    var win_width =  $(window).width()
    if (win_width > 772 && win_width < 990){
        $('.main-right').width((win_width - 772)/2);
    }
    if (win_width > 992 && win_width < 1200){
        $('.main-right').width((win_width - 992)/2);
    }
    if (win_width > 1200){
        $('.main-right').width((win_width - 1200)/2);
    }
    
        //top
        layui.use('util', function(){
        var util = layui.util;
        util.fixbar({
            bar1: false
            ,click: function(type){
                if (type === 'bar1'){
                    layer.prompt({
                        formType: 2,
                        value: '',
                        title: '给站长反馈您的建议、BUG',
                        offset: (document.documentElement.clientHeight/2)-157,
                    }, function(value, index, elem){
                        $.ajax({
                            url: '/api/feedback',
                            type: 'post',
                            data: {content: value, email: $("#email").val(), type: 1},
                            beforeSend: function(){
                                var index = layer.load(2);
                            },
                            success: function (e) {
                                if (e.error_code == 0) {
                                    layer.msg(e.msg , {icon: 1})
                                    layer.close(index);
                                } else {
                                    layer.msg(e.msg, {icon: 2})
                                }
                            },
                            complete: function () {
                                layer.closeAll('loading');
                            }
                        })
                    })
                    $(".layui-layer-input").attr("placeholder", "填写您需要反馈的内容")
                    $(".layui-layer-content").append('<div style="margin-top: 10px;"><input type="text" id="email" name="email" lay-verify="email" placeholder="联系方式Email" class="layui-input"></div>')
                    $(".layui-layer-btn0").css({"border-color":"#4A5E77", "background-color":"#4A5E77", "color":"#FFF"})
                }
            }
        })
    })
        //高度
        var windows_height = $(window).height()
        var full_height = $(".foot-null").offset().top
        var height = windows_height - full_height - 100
        if (height > 0){
            $('.foot-null').height(height)
        }

    //
/*    grecaptcha.ready(function() {
        var renderKey = '6Lea0MAUAAAAAEjQFEvEUEdPK_gJmntXnudEG6mA'
        grecaptcha.execute(renderKey, {action: 'meessage'}).then(function(token) {
            $.ajax({
                url: "/recaptcha.html",
                type: 'post',
                data: {token:token},
                success: function (e) {
                    console.log(e)
                }
            })
        })
    })*/
            function subscription_mailbox (){
            layer.prompt({
                formType: 3,
                value: '',
                title: '请输入订阅的邮箱地址',
                offset: (document.documentElement.clientHeight/2)-240
            }, function(value, index, elem){
                $.ajax({
                    url: '/api/mailbox',
                    type: 'post',
                    data: {mailbox: value},
                    beforeSend: function(){
                        var index = layer.load(2);
                    },
                    success: function (e) {
                        if (e.error_code == 0) {
                            layer.msg(e.msg , {icon: 1})
                            layer.close(index);
                        } else {
                            layer.msg(e.msg, {icon: 2})
                        }
                    },
                    complete: function () {
                        layer.closeAll('loading');
                    }
                })

            })
            $(".layui-layer-content").prepend('<div style="text-align: center;margin-bottom: 10px;"><img src="/static/picture/mailbox.png" width="90px" height="90px" /></div>')
            $(".layui-layer-content").append('<p style="color: #FF0000;margin-top: 10px;text-align: center;">订阅成功后您将第一时间获取平台最新号码邮件通知</p>')
            $(".layui-layer-btn0").css({"border-color":"#4A5E77", "background-color":"#4A5E77", "color":"#FFF"})
        }
</script>
<!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="/static/js/addthis_widget.js"></script>
</html>


