    <!-- 全局js -->
    <script src="__STATIC__/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__STATIC__/hplus/js/bootstrap.min.js?v=3.3.6"></script>
    <script src="__STATIC__/hplus/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="__STATIC__/hplus/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>

    <!-- 自定义js -->
    <script src="__STATIC__/hplus/js/hplus.js?v=4.1.0"></script>
    <script type="text/javascript" src="__STATIC__/hplus/js/contabs.js"></script>

    <!-- 第三方插件 -->
    <script src="__STATIC__/hplus/js/plugins/pace/pace.min.js"></script>
    
    <script src="__STATIC__/hplus/js/plugins/iCheck/icheck.min.js"></script>