<!DOCTYPE html>
<html>

{include file="base/head" /}
<link href="__STATIC__/hplus/css/plugins/switchery/switchery.css" rel="stylesheet">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">

                    <div class="row">

                        <h5 class="col-md-1" style="margin-left: 20px;">短信列表</h5>

                        <div class="col-md-1"><b>自动刷新间隔</b></div>
                        <div class="col-md-1"><input class="form-control" value="{if input('autorefresh')}{:input('autorefresh')}{/if}" placeholder="单位：秒" type="text" id="refresh_interval"></div>
                        <div class="col-md-1"><b>是否自动刷新</b></div>
                        <div class="col-md-1"><input type="checkbox" class="js-switch" {if input('autorefresh')}checked{/if} /></div>


                    </div>

                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>手机号</th>
                                <th>验证码信息</th>
                                <th>验证码</th>
                                <th>短信时间</th>
                            </tr>
                            </thead>
                            <tbody>
                            {foreach $list as $data}
                            <tr>
                                <td>{$data.id}</td>  <!--id-->
                                <td>{$data.phone}</td>  <!--手机号-->
                                <td>{$data.code_content}</td>  <!--验证码信息-->
                                <td>{$data.code}</td>  <!--验证码-->
                                <td>{$data.code_time}</td>  <!--入账信息-->
                            </tr>
                            {/foreach}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


{include file="base/js" /}
<script type="text/javascript" src="__STATIC__/laydate/laydate.js"></script>

<script src="__STATIC__/hplus/js/plugins/datapicker/bootstrap-datepicker.js"></script>

<script src="__STATIC__/hplus/js/plugins/switchery/switchery.js"></script>

<script src="__STATIC__/hplus/js/plugins/cropper/cropper.min.js"></script>

<script src="__STATIC__/hplus/js/demo/form-advanced-demo.js"></script>



<script type="text/javascript">

    laydate.render({
        elem: '[name=starttime]', //指定元素
        type:'datetime'
    });    laydate.render({
        elem: '[name=endtime]', //指定元素
        type:'datetime'
    });

    var refresh_interval;

    if( $('.js-switch').is(':checked') ) autorefresh( {:input('autorefresh')} );

    $('.js-switch').change(function(){

        if( $(this).is(':checked') ){

            refresh_interval_sec = $('#refresh_interval').val();

            if(refresh_interval_sec < 3){

                layer.alert('刷新间隔最小为3秒');

                $(this).removeAttr('checked');



                return false;

            }else{

                autorefresh(refresh_interval_sec);

            }

        }else{

            clearTimeout(refresh_interval);

        }

    })

    function autorefresh(refresh_interval_sec){

        refresh_interval = setTimeout(function(){
            href = '?autorefresh=' + refresh_interval_sec;
            console.log(href);
            location.href = href;

        },refresh_interval_sec*1000 );

    }

</script>

</body>

</html>
