  <div class="layui-col-lg4 layui-col-md4 layui-col-sm6 layui-col-xs12 card">
                    <div class="layui-card" style="height:150px;">
                        <div class="layui-card-header">
                                                        <span class="layui-badge-dot layui-bg-green"></span> <span style="color: #8D8D8D" title="在线接码中">在线</span>
                                                        <a href="javascript:;">
                            <img class="guoqi" src="/static/picture/852.png"
                                 alt="香港号码">
                            </a>
                        </div>
                        <div class="layui-card-body layuiadmin-card-list">
                            <p class="layuiadmin-big-font card-phone" id="{$item.title}" lang="18"
                               title="点击接收短信验证码">
                                <a href="{$item.url}" class="clickA" target="_self"><span class="country-bh">+{$item.quhao}</span> {$item.title}</a>
                            </p>
                            <p>
                                &nbsp;
                                <span class="layuiadmin-span-color" style="margin-top:15px;">查询 {$item.views} <span class="copy"
                                                                                                           data-clipboard-text="{$item.title}" title="复制手机电话号码">复制</span></span>
                            </p>
                        </div>
                    </div>
                </div>             