<!DOCTYPE html>
<html>
<head>
    <title>支付二维码</title>
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    {include file="admin@base/head"}
</head>
<body  style="background:#f0f0f0">

   
        <div  id="qrcode" style="height:260px;width:260px;margin:50px auto;"></div>
		
<!--		<h3 id="pay_status" style="height:50px;width:200px;margin:0 auto;color:red;">订单过期倒计时：<label id="expire_seconds"></label>秒</h3>-->
		<h3 style="height:50px;width:500px;margin:0 auto;color:red;">{$payurl}</h3>

           
</body>
<!--<script src="https://cdn.bootcss.com/jquery/3.4.1/jquery.min.js"></script>-->
<script type='text/javascript' src='http://cdn.staticfile.org/jquery/2.1.4/jquery.min.js'></script>
<script src='__STATIC__/qrcode/jquery.qrcode.min.js'></script>
<script type="text/javascript">
	// var payurl = "{$payurl}";
    // $('#qrcode').qrcode(payurl); //任意字符串
</script>

<script type="text/javascript">
    
    expire_seconds = 200;
	$('#expire_seconds').text(expire_seconds);
	
    Timer = setInterval(function(){

        if(expire_seconds == 0){
            
            $.get("{:url('test/update_status')}",{order_id:'{$order_id}'},function(res){
            
	        });
            
            $('#pay_status').html('<p style="color:red;margin:0 auto;">该订单已过期</p>');
            $('#qrcode').html('');
            clearInterval(Timer);
            alert('该订单已过期');
            window.history.go(-1);

        }

        $.get("{:url('test/check_success')}",{order_id:'{$order_id}'},function(res){
            
            if( res.status == 1 ){  
                
	            $('#qrcode').html('');
	            clearInterval(Timer);
	            alert('支付成功！');
	            window.history.go(-1);
            }
            
        });

        $('#expire_seconds').text( --expire_seconds );

    },1000);

</script>

</html>